@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="font-family:Courier New, color:blue, ">
    <h1 class="display-4"><b>Welcome to Mad Needle Works!</b></h1>
    <p>The place for high quality crochet products and patterns.</p>
</div>