@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Times New Roman', Times, serif; font-weight: bold; color:white; background: linear-gradient(to right, teal, green);">Welcome to Mad Needle Works!</h1>
    <br />
    <p>The place for high quality crochet products and patterns.</p>
</div>