@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>Test</h1>
    <p>Test</p>
</div>

<footer style="background-color: #f1f1f1; padding: 20px; text-align: center;">
    <h4>Contact Us</h4>
    <p>Email 1: <a href="mailto:email1@example.com">email1@example.com</a></p>
    <p>Email 2: <a href="mailto:email2@example.com">email2@example.com</a></p>
    <p>Email 3: <a href="mailto:email3@example.com">email3@example.com</a></p>
</footer>


<style>

</style>