@{
    ViewData["Title"] = "Portfolio";
}

<h1 style="background: linear-gradient(to right, teal, green);">My Portfolio</h1>
<br />
<p>My passion for arts and crafts has spanned more than a decade. I take pride in everything I create and I love to see the smiles on others' faces when I give them one of my creations. My main focus is on crocheting, but I also am experienced in sewing.</p>