@{
    ViewData["Title"] = "Products";
}

<h1 class="text-center" style="background: linear-gradient(to right, teal, green); color: white; padding: 20px;">Products</h1>
<br />

<div class="row justify-content-center">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://i.pinimg.com/originals/71/07/ec/7107ece672ce5488b7d14375b75bd5bc.jpg" class="card-img-top" alt="Coming Soon">
            <div class="card-body">
                <h5 class="card-title">Dinosaur Plushy</h5>
                <p class="card-text">This is a test product</p>
                <h7 class="card-title">$50.00</h7>
                <br />
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://i.pinimg.com/originals/71/07/ec/7107ece672ce5488b7d14375b75bd5bc.jpg" class="card-img-top" alt="Coming Soon">
            <div class="card-body">
                <h5 class="card-title">Dinosaur Plushy</h5>
                <p class="card-text">This is a test product</p>
                <h7 class="card-title">$50.00</h7>
                <br />
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://i.pinimg.com/originals/71/07/ec/7107ece672ce5488b7d14375b75bd5bc.jpg" class="card-img-top" alt="Coming Soon">
            <div class="card-body">
                <h5 class="card-title">Dinosaur Plushy</h5>
                <p class="card-text">This is a test product</p>
                <h7 class="card-title">$50.00</h7>
                <br />
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
