<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/affa544e-bbba-4730-8cb0-d1212aee8282/resourceGroups/MadNeedleWorks_group/providers/Microsoft.Web/sites/MadNeedleWorksOfficial</ResourceId>
    <ResourceGroup>MadNeedleWorks_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://madneedleworksofficial.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0ea32e62-6c72-45b5-b92b-ed60d0d67464</ProjectGuid>
    <PublishUrl>https://madneedleworksofficial.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MadNeedleWorksOfficial</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>